name: mvnw-test

on:
  pull_request:
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.3.0
      - uses: actions/setup-java@v4.7.1
        with:
          java-version: '21'
          distribution: 'temurin'
      - run: ./mvnw test
