name: pre-commit

on:
  pull_request:
    branches: [master]

jobs:
  pre-commit:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: pre-commit/action@v3.0.1
